/* Add custom css here */

.jumbo-image{
    background-image: url("../img/event.jpg"); 
    background-size:cover;
}

.officers .card-img-top{
    height: 20rem;
}

.jumbotron.text-light h1, .jumbotron.text-light p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}