
<footer>
    <div class="css-xfswk4">
        <div id="innovation-footer">
            <div id="innovation-bar">
                <div class="innovation-top">
                    <div class="innovation-status">
                        <nav aria-label="University Services">
                            <ul class="default">
                                <li class="footer-link"><a href="https://www.asu.edu/maps">Maps and Locations</a>
                                </li>
                                <li class="footer-link"><a href="https://www.asu.edu/asujobs">Jobs</a></li>
                                <li class="footer-link"><a href="https://isearch.asu.edu/">Directory</a></li>
                                <li class="footer-link"><a href="https://www.asu.edu/contactasu/">Contact ASU</a>
                                </li>
                                <li class="footer-link"><a href="https://my.asu.edu/">My ASU</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="innovation-image"><a href="https://www.asu.edu/rankings"><img
                                alt="#1 in the U.S. for innovation. U.S. News &amp; World Report, 5 years, 2016-2020"
                                src="/img/Number-1-in-the-us-for-innovation2x.png"></a></div>
                </div>
            </div>
            <div class="footer-menu">
                <nav aria-label="University Legal and Compliance" class="nav colophon">
                    <ul class="default">
                        <li class="footer-link"><a href="https://www.asu.edu/copyright/">Copyright and Trademark</a>
                        </li>
                        <li class="footer-link"><a href="https://www.asu.edu/accessibility/">Accessibility</a></li>
                        <li class="footer-link"><a href="https://www.asu.edu/privacy/">Privacy</a></li>
                        <li class="footer-link"><a href="https://www.asu.edu/tou/">Terms of Use</a></li>
                        <li class="footer-link"><a href="https://www.asu.edu/emergency/">Emergency</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- jQuery, Bootstrap JS, PopperJS
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>


<script src="/asu-web-standards-bootstrap4/dist/js/bootstrap-asu.min.js"></script>


<!-- include bundled scripts from Preact packages (CSS is in the <head>) -->
    <script src="/js/vendor.js"></script>
    <script src="/js/components-library.js"></script>

    <!-- include Cookie Consent script and styles -->
    <link href="/css/cookie-consent.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/cookie-consent.js"></script>
    <!--<script src="/component-forms/dist/vendor.production.js"></script>-->
    <script src="/js/component-forms.js"></script>
    <!--<script src="/asu-maps/dist/asu-maps.production.js"></script>-->
    <script src="/js/nav.js"></script>

    <script>

        var buttons = [{
            text: "Apply Now",
            type: "button",
            color: "gold",
            href: "https://admissions.asu.edu",
            target: "_top"
        }, {
            text: "CTA Button",
            type: "button",
            color: "maroon",
            href: "https://asu.edu",
            target: "_top"
        }];

        var props = {
            navTree: NavTree,
            title: "{{ .Site.Title }}",
            baseUrl: "/"
        };

        //window.setTimeout(function () {
        componentsLibrary.initHeader(props, "headerContainer");
        // }, 10 * 1000);

        // Initialize cookie consent banner
        AsuCookieConsent.init();
        
        /** Form Component testProps **/
        const testProps = {
            title: "Daily Health Check Reminders",
            description: `How would you like to be reminded to take your daily health check? <br />
      (Note: You can submit a daily health check anytime, via any tool. We just thought
        a friendly reminder might help.)
    `,

            fields: [{
                name: "push_notifications",
                type: "toggle",
                icon: "mobile",
                title: "ASU Mobile App (push notifications)",
                label: "ASU Mobile App (push notifications) use enter or space to edit",
                id: "mobile-opt-in"
            }, {
                name: "email_notifications",
                type: "toggle",
                label: "Web (email reminders) use enter or space to edit",
                title: "Web (email reminders)",
                id: "web-opt-in",
                icon: "desktop"
            }],
            initialValues: {
                push_notifications: true,
                email_notifications: false
            },
            onSubmit: (values, actions) => {
                if (!values.push_notifications && !values.email_notifications) {
                    console.log("reset the form");
                    actions.resetForm();

                    //actions.setValues({push_notifications: true});
                    actions.setStatus(
                        "Warning: Update not submitted. Please enable either mobile or web notifications."
                    );
                    //
                }
                console.log(values, 'THE VALUES');
                console.log(actions, 'THE ACTIONS');
            },
            autoSubmit: true
        };

        componentForms.RenderPreact(componentForms.FormPanel, testProps, document.getElementById("formContainer"));
    </script>

</footer>


</body>

</html>