    {{ $awardees := index .Site.Data (.Get 0) }}

    {{ $years := slice }}
    {{ range sort $awardees.recipients "year" "desc" }}
    {{ $years = append .year $years }}
    {{ end }}

    {{ $years = $years | uniq }}
    {{ $sorted := sort $awardees.recipients "year" "desc" }}

    {{ range $years }}
    <h2><span class="highlight-gold">{{ . }}</span></h2>
    <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Advisor</th>
                <th scope="col">Affiliation</th>
                <th scope="col">Research</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{ range where $sorted "year" . }}
                <th scope="row">{{ .name }}</th>
                <td>{{ .advisor.name }}</td>
                <td>{{ .advisor.affil }}</td>
                <td>{{ .award }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <hr>
    {{ end }}